<div class="header">
    <h2>Reset Password</h2>
    <h4>User: {{parametres.currentUserInfo}}</h4>
</div>
<div class="body">
    <form class="form" name="myForm" ng-submit="parametres.update()" novalidate ng-model-options="{debounce: 200}">
        <fieldset>
            <div ng-hide="parametres.token" class="form-group">
                <label for="old-password">Old Password</label>
                <input type="password"
                       class="form-control"
                       name="oldPassword"
                       id="old-password"
                       ng-model="parametres.oldPassword">
            </div>
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password"
                       class="form-control"
                       name="newPassword"
                       id="new-password"
                       ng-model="parametres.newPassword"
                       ng-minlength="6"
                       ng-maxlength="20">
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password"
                       class="form-control"
                       name="confirmPassword"
                       id="confirm-password"
                       ng-model="parametres.confirmPassword">
            </div>
            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary pull-right">
                    Update
                </button>
            </div>
        </fieldset>
    </form>
    <div ng-show="parametres.error" class="alert alert-danger">{{parametres.error}}</div>
    <div ng-show="parametres.success" class="alert alert-success">{{parametres.success}}</div>
</div>